body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

/* Title */

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-img {
    transform: rotate(0);
    position: static;
    margin-top: 5%;
  }
}

/* Features */
#features {
  background-color: #fff;
  padding: 7% 15%;
  text-align: center;
  position: relative;
  z-index: 1;
}

.feature-box {
  margin: 20px auto;
}

.feature-img {
  font-size: 4rem;
  color: #ef8172;
  padding: 20px;
}

.feature-img:hover {
  color: #ff4c68;
}

.feature-title {
  font-weight: bold;
}

.feature-text {
  color: #8f8f8f;
  width: 50%;
  margin: 10px auto;
}

/* Testimonials */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-img {
  width: 300px;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 5% 2% 8%;
}

@media (max-width: 1028px) {
  .press-logo {
    width: 25%;
    margin: 5% 5% 8%
  }
}

/* Pricing */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
  text-align: center;
}

/* CTA */

#cta {
  background-color: #ff4c68;
  text-align: center;
}

.cta-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  padding: 7% 15% 0;
}

/* Footer */
#footer {
  background-color: #fff;
  text-align: center;
  padding: 7% 15%;
}

.footer-image {
  margin: auto auto 10px;
  letter-spacing: 1rem;
}

.footer-text {
  margin: 10px auto auto;
  color: grey;
}
